
validation-tooltip {
	height: 10px;
}
validation-tooltip ul, ol {
    margin: 0;
}
.validationMessageTemplate {
    display: none;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: #f2dede;
    border-width: 5px 5px 5px 0;
}
.tooltip-inner {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}
