<div ng-controller="callForTenderController_List" class="col-lg-12 panel panel-success" ng-init="init(123, 1)">
    <div class="row panel-heading">
        <div class="col-sm-6 text-left">
            Call For Tender List
        </div>
        <div class="col-sm-6 text-right">
        	<span ng-if="permission.projectRole.call4tenderPermission.indexOf(2)>=0" ng-click="newTender();" class="glyphicon glyphicon-plus" title="click here to add new tender"></span>
 			<span ng-click="exportMilestone();" class="glyphicon glyphicon-export" title="click here to export these tender"></span>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row panel-body">
    	<div class="table-responsive">
	        <table class="table table-striped table-hover">
	            <thead>
	            <tr>
	                <th class="text-align-center">No.</th>
	                <th class="text-align-center">Project</th>
	                <th class="text-align-center">Type</th>
	                <th class="text-align-center">Tender</spring:message></th>
	                <th class="text-align-center">Status</spring:message></th>
	                <th class="text-align-center">Closed</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr dir-paginate="tender in tenders | orderBy:sortKey:reverse | itemsPerPage:itemsPerPage" total-items="totalCount">
	                <td class="text-align-center">{{$index + 1 + itemsPerPage * (pageNo-1)}}</td>
	                <td class="text-align-center">{{tender.projectName}}</td>
	                <td class="text-align-center">{{tender.typeName}}</td>
	                <td class="text-align-center">{{tender.tenderName}}</td>
	                <td class="text-align-center">{{tender.status}}</td>
	                <td class="text-align-center">
	                    <input ng-disabled="true" type="checkbox" ng-checked="tender.closed"/>
	                </td>
	                <td class="text-align-center">
	                    <button type="button" class="btn btn-info" ng-click="viewTenderDetail(tender.id)">
	                        <span class="glyphicon glyphicon-eye-open"></span> Update
	                    </button>
	                    <button type="button" class="btn btn-info" ng-click="delete(tender.id)">
	                        <span class="glyphicon glyphicon-remove-sign"></span> Delete
	                    </button>
	                </td>
	            </tr>
	            </tbody>
	        </table>
		</div>
    </div>
    <div class="row">
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true"
                on-page-change="init(123, newPageNumber)" >
        </dir-pagination-controls>
    </div>
</div>


