						<div class="panel-heading clearfix">
			    			<h3 class="panel-title pull-left">Milestone</h3>
					    	<div class="pull-right">
					    		<span ng-click="addMilestone();" class="glyphicon glyphicon-plus" title="click here to add new milestone"></span>
			      				<span ng-click="exportMilestone();" class="glyphicon glyphicon-export" title="click here to export these MileStone"></span>&nbsp;&nbsp;&nbsp;
			      				<span ng-click="exitDetailFullscreen('milestone-area');" class="glyphicon glyphicon-resize-small" ng-if="isDetailFullscreen" title="exit fullscreen"></span><span ng-click="detailFullscreen('milestone-area');" class="glyphicon glyphicon-fullscreen" ng-if="!isDetailFullscreen" title="fullscreen"></span>
			      			</div>
					    	
			  			</div>
			  			<div class="panel-body">
			  			</div>