<!-- Content -->
<div class="panel-body">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#project-add" data-toggle="tab">Project</a>
		</li>
		<li>
			<a href="#hr-resource" data-toggle="tab">HR Resource</a>
		</li>
		<li ng-if="!isDesignManagement">
			<a href="#equipment" data-toggle="tab">Equipment</a>
		</li>
		 <li ng-if="!isDesignManagement">
			<a href="#material" data-toggle="tab">Material</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="project-add" class="tab-pane active"  ng-include="'/redsun/static/partials/project-edit.html'">
		</div>
		<div id="hr-resource" class="tab-pane" ng-include="'/redsun/static/partials/project-member-area.html'">
		</div>
		<div ng-if="!isDesignManagement" id="equipment" class="tab-pane" ng-include="'/redsun/static/partials/project-equipment-area.html'">
		</div>
		<div ng-if="!isDesignManagement" id="material" class="tab-pane" ng-include="'/redsun/static/partials/project-material-area.html'">
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
		<div class="form-group form-group-sm">
			<div class="col-sm-12 text-center">
				<button type="button" class="btn btn-default" ng-click="closeDialog();">Close</button>
				<button  type="button" class="btn btn-primary" ng-click="saveProject();" ng-if="permission.projectRole.projectPermission.indexOf(3)>=0 && checkPermission('PM_3');">Save</button>
			</div>
		</div>
	</div>
</div>

