
<div class="panel-heading clearfix">
	<h3 class="panel-title pull-left"><strong>Latest activity</strong></h3> <br/>
</div>
<div class="container-fluid">
	<div class="panel-body social-activities-tab no-padding">
		<ul class="no-padding">
			<li class="activities-item">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="col-sm-1 col-md-1 col-lg-1 social-avatar">
						<div>
							<a href="http://elgg.trevietsoft.com/profile/caohongvu" class="">
								<img class="col-sm-12 col-md-12 col-lg-12" src="http://elgg.trevietsoft.com/serve-file/e0/l1505274530/di/c0/fuF6nfsCknHQ-byvWpFUetJ3XynH2NInasc-jyTbfvs/1/36/profile/36small.jpg" alt="Vincent" title="Vincent">
							</a>
						</div>
					</div>
					<div class="col-sm-11 col-md-11 col-lg-11 social-activities-content">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<a href="http://elgg.trevietsoft.com/profile/caohongvu" class="elgg-river-subject">Vincent</a> commented on the blog <a href="http://elgg.trevietsoft.com/comment/view/60/57" class="elgg-river-target">post and comment</a>  <span class="elgg-river-timestamp"><time title="13 September 2017 @ 11:28am" datetime="2017-09-13T11:28:55+07:00">2 days ago</time></span>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							nó không tự refresh lai, mà mình phải refresh manual. kkk nên mới nói ko có gì là hoàn hảo, quan trong là chúng ta đi con đường chúng ta, đáp ứng...
						</div>
	
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
