 						<div class="panel-heading clearfix">
			    			<input type="text" class="form-control" placeholder="Search" ng-model="searchName"/>
			  			</div>
			  			<div class="panel-body">
			  			<div  hidden="hidden" ng-init = "getTaskResourcesOneProject()"></div>
				  			<div class="ms-list"  ng-init = "getTaskResources();">
				  				<p class="text-primary">In Task</p>
								<table class="table table-striped table-hover table-bordered">
									<thead>
										<tr>
										<th>Name</th>
										<th title="working on another task">Warning</th>
										<th>Quantity</th>
										<th>Over time (h)</th>
										<th>Coefficient</th>
										<th>Worked</th>
							  			<th>Actual today</th>
										<th>Delete</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="assignment in assignments | filter:searchName">
										<td>{{assignment.resourceCode + '-' + assignment.resourceName}}</td>
										<td title="working on another task"><i class={{assignment.warning}}></i></td>
										<td><input type="text"  class="form-control"  ng-model="assignment.quantity" /></td>
										<td><input type="number"  class="form-control"  ng-model="assignment.overtime" /></td>
										<td><input type="text"  class="form-control"  ng-model="assignment.coefficient" /></td>
										<td>
											<input type="number" class="form-control" ng-model="assignment.actualWork" readonly/>
										</td>
										<td>
											<input type="number" class="form-control" ng-model="assignment.actual" ng-disabled="permission.projectRole.taskPermission.indexOf(3)<0"/>
										</td>
										<td><input type="checkbox" id = "check" ng-model="assignment.isSelected"/></td>
									</tr>
									</tbody>
								</table>
							</div>
							<hr>
							<div class="ms-list"  ng-init = "getFilterProjectResources();">
								<p class="text-primary">Out Task</p>
								<table class="table table-striped table-hover table-bordered">
									<tbody>
									<tr ng-repeat="projectresource in projectresourcesfiltered | filter:searchName">
										<td><input type="checkbox" id = "check" ng-model="projectresource.isSelected"  ng-checked="isSelected"/> {{projectresource.resourceCode + '-' + projectresource.resourceName}}</td>
										<td>
											<input type="number" class="form-control" ng-model="projectresource.quan" ng-disabled="permission.projectRole.taskPermission.indexOf(3)<0" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"/>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
			  			</div>
			  			
			  			